body{
    background-image: url("/assets/images/grey_wash_wall.png")
}

header{
    background-color: black;
    text-align: center;
    height:75px;width:100%;

}
header img{
    height: 75px;width:auto;
}

img{
    height:175px;width:auto;
}
#imgAttacker{
    border:4px blue solid;
}